#top { /* Шапка с заголовком страницы */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки  */
    padding: 10px 0 10px 10px; /* Поля вокруг текста */
    margin-bottom: 5px; /* Расстояние между шапкой и колонками */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
}
#col1 { /* Левая колонка */ 
    position: absolute; /* Абсолютное позиционирование */
    width: 160px; /* Ширина слоя */
    left: 230px; /* Положение от левого края окна */ 
    top: 70px; /* Положение от верхнего края окна */
    margin-left: -200px; /* внешний левый отступ отрицательного значения */
    padding-left: 10px; /* внутренне левое поле */
    background: #800000; /* Цвет фона левой колонки */
}

#col2 { /* Правая колонка */ 
 
    background: #e0e0e0; /* Цвет фона правой колонки */
    padding: 5px; /* Поля вокруг текста */
}

#container {
    border-left: 200px solid #800000;
}

#bottom { /* Подвал */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки */
    padding: 3px; /* Поля вокруг текста */
}
